*{
    margin: 0px;
    padding: 0px;


}
body{
    background-color: rgb(235, 216, 235);
}
#container{
    width: 80%;
    margin: 0px auto;
    border: 1px solid black;
    
}
#header{
    height:130px;
    background-color: rgb(244, 207, 253);
    color: white;
    text-align: center;
    line-height: 100px;
}
#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}
#logo img{
    float: left;
    height: 100px;
}
#menu{
    background-color: rgb(232, 191, 245);
    color: rgb(223, 223, 216);
    height: 50px;
    border-bottom: 4px solid rgb(124, 63, 165);
}

#menu ul{ 
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;
}
#menu a{
    display: block;
    color: rgb(148, 16, 189);
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;

}

#menu a:hover{
    background: rgb(143, 80, 143);
    
}

#content{
    margin: 3px auto;
    background: rgb(241, 237, 237);
}
/* barra lateral*/
#lateral{
    width: 17%;
    min-height: 650px;
    border: 1px solid rgb(219, 30, 204);
    float: left;
    margin-top: 20px;
    margin-left: 10px;

}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(199, 76, 123);
}

#lateral h3{
    display: block;
    color: black;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    background: white;
    border-bottom: 2px solid pink;
}
#central{
    width: 80%;
    min-height: 650px;
    float: right;
    border: 1px solid rgb(201, 28, 163);
}